# Problem 2-99 of Capter 02

In [1]:
from pandas import DataFrame

In [2]:
disks = DataFrame({'High': [70, 16], 'Low': [9, 5]}, index =  ['High', 'Low'])

In [3]:
disks

      High  Low
High    70    9
Low     16    5

In [4]:
disks.columns.name = 'Shock Resistance'

In [5]:
disks.index.name = 'Scratch Resistence'

In [6]:
disks # The data given in the problem is the table as follow:

Shock Resistance    High  Low
Scratch Resistence
High                  70    9
Low                   16    5

In [7]:
# A denote the event that the disk has high shock resistence
nA = disks.sum()['High']

In [8]:
# B denote the event that the disk has high scratch resistence
nB = disks.sum(axis = 1)['High']

In [9]:
# U denote the universe
nU = disks.sum().sum()

In [10]:
nU

100

In [11]:
# item a. P(A)
P_A = nA / nU

In [12]:
P_A

0.86

In [13]:
# item b. P(B)
P_B = nB / nU

In [14]:
P_B

0.79

In [15]:
# item c. P(A/B) = P(A^B) / P(B)
P_AgivenB = disks.High.High / nU / P_B

In [16]:
P_AgivenB

0.8860759493670886

In [17]:
# item d. P(B/A) = P(A^B) / P(A)
P_BgivenA = disks.High.High / nU / P_A

In [18]:
P_BgivenA

0.813953488372093